.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0a6537;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  text-align: center;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #b7aa4d;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.main {
    padding: 16px;
    margin-bottom: 30px;
    text-align: center;
  }


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 5px;
    font-size: 15px;
  }
  .sidenav a {
    font-size: 15px;
  }

  h1 {
      font-size: 15px;
  }
  #mainImage {
    max-width: 100%;
}
}

@media screen and (max-width: 450px) {
    .sidenav {
      padding-top: 5px;
      font-size: 15px;
    }
    .sidenav a {
      font-size: 15px;
    }
  
    h1 {
        font-size: 15px;
    }
    #mainImage {
        max-width: 90%;
    }
  }

.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color:#b7aa4d;
    color:#0a6537;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: #0a6537;
    color: #b7aa4d;
  }

  /*FOOTER*/

 #bottomNav {
    overflow: hidden;
    background-color:#b7aa4d;
    position: fixed;
    bottom: 0;
    width: 100%;
  }
  
  #bottomNav a {
    float: left;
    display: block;
    width: 19%;
    color:#0a6537;
    text-align: center;
    /* padding: 14px 16px; */
    text-decoration: underline;
    font-size: 17px;
  }
  
  #bottomNav a:hover {
    background-color: #0a6537;
    color: #b7aa4d;
  }
  
  #FootText {
    text-decoration: underline;
    font-size: larger;
    margin-left: 5px;
  }

  #mainImage {
      max-width: 56%;
  }

  .jumbo {
    margin-left: 250px;
  }  
  
  #details {
    color: #b7aa4d;
  }
  
  #ianPic {
    width: 225px;
    height: 337.5px;
  }